.sn-header {
  width: 100%;
}

.sn-header__wrapper {
  width: calc(100% - 208px);
  max-width: 530px;
  min-width: 288px;
  margin: 0 auto 0 104px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.sn-header__headline {
  margin: 0 0 28px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.sn-header__info {
  display: block;
  font-family: 'Roboto-Slab', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 30px;
  color: #1A1B22
}

.sn-header__keywords {
  width: 100%;
  margin-bottom: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22
}

.sn-header__keywords_bold {
  font-weight: 700;
}

/* 768 */
@media screen and (max-width: 768px) {

  .sn-header__wrapper {
    width: calc(100% - 80px);
    max-width: 712px;
    margin: 0 auto;
    padding-top: 24px;
  }

  .sn-header__headline {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 16px;
  }

  .sn-header__info {
    max-width: 336px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  .sn-header__keywords {
    margin-bottom: 32px;
  }
}

/* 640 */
@media screen and (max-width: 640px) {

  .sn-header__wrapper {
    width: calc(100% - 32px);
  }

  .sn-header__keywords {
    width: 100%;
  }

  .sn-header__info {
    margin-bottom: 35px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {

  .sn-header__wrapper {
    padding-top: 8px;
  }

  .sn-header__headline {
    margin: 0 0 16px;
    font-size: 12px;
  }

  .sn-header__info {
    margin-bottom: 50px;
  }
}